<div class="ui fluid card">
  <div class="content">
    <div class="header">{{name}}</div>
    <div class="ui rounded image">
      <img *ngIf="imgsrc!==''" src={{imgsrc}} class="item" style="width: 14rem; height: 12rem;">
    </div>
    </div>
    <div class="content">
      <div class="description">
        Current Bid: {{currentBid | currency}}
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="user icon"></i>
        Owner: {{owner}}
      </a>
    </div>
    <button class="ui button" (click)='showDetail()'>Details</button>
        <app-property-detail *ngIf='showDet' [id]=id [owner]=owner [price]=price [currentBid] = currentBid  (close)="showDetail()">
          <div detailTitle>{{name}}</div>
          <div>
            <p>Current Bid: {{currentBid | currency}}</p>
            <p>
              {{desc}}
            </p>
          </div>
        </app-property-detail>
  </div>
