<div class="ui card">
    <div class="image">
      <i class="home icon"></i>
      <img *ngIf="imgsrc!==''" src='https://res.cloudinary.com/dtis1mlk2/image/upload/v1594676949/kv19qwedzlu10cvaxwpt.jpg' class="item">
    </div>
    <div class="content">
      <a class="header">{{name}}</a>
      <div class="description">
        Starting Price: {{price}}
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="user icon"></i>
        Owner: {{owner}}
      </a>
    </div>
    <button class="ui button" (click)='showDetail()'>Details</button>
        <app-property-detail *ngIf='showDet' [id]=id [owner]=owner [price]=price [currentBid] = currentBid  (close)="showDetail()">
          <div detailTitle>{{name}}</div>
          <div>
            <p>Current Bid: {{currentBid | currency}}</p>
            <p>
              {{desc}}
            </p>
          </div>
        </app-property-detail>
  </div>
