<div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal image header">
        <div class="content">
          Log-in to your account
        </div>
      </h2>
      <div *ngIf='badLogin' class="ui error message">
        <p>Either your username or password is incorrect. Please try again.</p>
    </div>
      <form (ngSubmit)="login(); loginForm.reset()" #loginForm="ngForm" class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input required type="text" [(ngModel)]='username' name="username" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input required [(ngModel)]='password' type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="ui fluid large teal submit button" (click)="login(); loginForm.reset()">Login</div>
        </div>
  
      </form>
  
      <div class="ui message">
        New to us? <a routerLink='register'>Sign Up</a>
      </div>
    </div>
  </div>