<div *ngIf='success=="false"' class="ui error message">
  <p>Property failed to upload please try again</p>
</div>
<div *ngIf='success=="true"' class="ui success message">
  <p>Property successfully uploaded</p>
</div>
<form #propertyForm (submit)='propertyForm.reset()' class="ui form">
    <div class="field">
      <label>Property Name</label>
      <input required [(ngModel)]='name' type="text" name="name" placeholder="Property Name">
    </div>
    <div class="field">
      <label>Starting Price</label>
      <input required [(ngModel)]='price' type="number" name="price" placeholder="Starting Price">
    </div>
    <div class="field">
        <label>Description</label>
        <textarea [(ngModel)]='desc' name="description"></textarea>
      </div>
      <div>
        <div class="ui center aligned icon header">
          <label for="imageUpload" class="ui fluid large primary button">
          <i class="file icon" style="margin-left: 14px;">
          </i>
          Attach Photo
          </label>
          <input type="file" (change)='sendImg()' #imgsrc  name="imageUpload" id="imageUpload" style="display: none;">
       
            <!-- <i class="cloud upload icon"></i> -->
            <!-- <input type="file"  name="imageUpload" id=""> -->
        </div>
        <!-- <button class="ui primary button">Add Photo</button> -->

    </div>
    <button class="ui primary button" (click)='makeProp()' type="submit">Submit</button>
  </form>