<form class="ui form">
    <div class="field">
      <label>Property Name</label>
      <input type="text" name="property-name" placeholder="Property Name">
    </div>
    <div class="field">
      <label>Starting Price</label>
      <input type="number" name="starting-price" placeholder="Starting Price">
    </div>
    <div class="field">
        <label>Description</label>
        <textarea></textarea>
      </div>
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="cloud upload icon"></i>
        </div>
        <button class="ui primary button">Add Photo</button>

    </div>
    <button class="ui primary button" type="submit">Submit</button>
  </form>