
 
 <div class="ui success message" *ngIf='success'>
        <div class="header center aligned">
            Success
        </div>
        <p>Funds have been added to your account</p>
    </div>
    <div class='ui information message'>Current funds: {{currentMoney|currency}}</div>
<input class='ui huge input' type="text" name="money" *ngIf='!success' [(ngModel)]='newMoney' id="money" placeholder="0">
<button class="ui right attached compact button green" (click)='addFunds()'>Add Funds</button>


