<div class="ui equal width stackable centered grid">
    <div class="sixteen wide column">
        <div class="ui three item tabular menu">
            <a class="item" [routerLinkActiveOptions]="{exact:true}" routerLink="./" routerLinkActive="active">Add New Property</a>
            <a class="item" routerLink="bids" routerLinkActive="active">View Current Bids</a>
            <a class="item" routerLink="funds" routerLinkActive="active" >Manage Funds</a>
        </div>
    </div>
        <div class="sixteen wide column">
            <router-outlet></router-outlet>
        </div> 
</div>

