<div class="ui grid">
    <div class="six wide coulmn fluid">
        <div class="ui vertical tabular menu">
            <a class="item" [routerLinkActiveOptions]="{exact:true}" routerLink="./" routerLinkActive="active">Add New Property</a>
            <a class="item" routerLink="bids" routerLinkActive="active">View Current Bids</a>
        </div>
    </div>
    <div class="twelve wide stretch column">
        <div class="ui segment">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>